/*Atlantic Coast Brands Test SASS-CSS*/
/* webfonts */
#mfPreviewBar { display: none !important;}
/*hides myfonts.com preview bar for the test*/
/*
font-family: 'Bodoni Book';
font-family: 'Bodoni Bold';
font-family: 'Bodoni';
font-family:'MyriadProSemibold';
font-family:'MyriadProLight';
font-family:'MyriadProRegular';
*/
@font-face {
  font-family: 'MyriadProSemibold';
  src: url('/fonts/myriadpro-semibold_opentype-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/myriadpro-semibold_opentype-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/myriadpro-semibold_opentype-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/myriadpro-semibold_opentype-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/myriadpro-semibold_opentype-webfont.svg#MyriadProSemibold') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'MyriadProLight';
  src: url('/fonts/myriadpro-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/myriadpro-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/myriadpro-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/myriadpro-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/myriadpro-light-webfont.svg#MyriadProLight') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'MyriadProRegular';
  src: url('/fonts/myriadpro-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/myriadpro-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/myriadpro-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/myriadpro-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/myriadpro-regular-webfont.svg#webfontOtLQ4vAf') format('svg'); /* Legacy iOS */
}

/* Variables */
$colorWhite: #fff;
$colorBlack: #000;
$mainColWidth: 1085px;

/* globals */


/* Structure */
html {
		background: $colorWhite url('/images/bg_main_top_icons.png') no-repeat top center; 
	
		.wrapper {
			width: 100%;
		}
		.topMesg {
			height: 29px;
			overflow: hidden;
			background: #212121;
			border-bottom: 1px solid #3a3a3a;
			color: $colorWhite;

			.contPdg {
				width: $mainColWidth;
				margin: 0 auto;
				line-height: 29px;
				text-align: center;
			}
			h2 {
				margin: 0;
				font-weight: normal;
				font-family: arial,helvatica,sans-serif;
				font-size: 14px;

				strong {
					font-weight: bold;
				}
			}
			.warn_yellow { color: #fff348; }
			.warn_red { color: #d10000; }
		}

		h1 {
			color: $colorBlack;
			font-family: 'MyriadProRegular',serif;
		}
}
.section {
	.contPdg {

		.col {
			position: relative;
		}
	}
	.cols2 {
		min-height: 200px;
		float: left;
		width: 770px;

		&.col2 {
			width: 315px;
		}
	}
	.cols3 {
		min-height: 200px;
		float: left;
		width: 33%;

		&.capStone {
			float: none;
			width: 100%;
		}
	}
}
.section1 {
	min-height: 516px;

		.contPdg {
			width: $mainColWidth;
			margin: 0 auto;
			border-left: 1px solid #222;
			border-right: 1px solid #222;	
		}
		#photoMain {
			float: left;
			margin-left: -15px;
		}	
}
.section2 {
	min-height: 900px;
	background: url('/images/bg_section2_top.png') no-repeat top center;	

		.contPdg {
			width: $mainColWidth;
			margin: 0 auto;
			border-left: 1px solid #222;
			border-right: 1px solid #222;	
		}		

}
#photoMain {
	float: left;
}
.blurb {
	
	&.mainPromo {
		font-family: 'Bodoni Book';
	    font-size: 38px;
	    line-height: 39px;
	    margin: 0;
	    text-align: center;
	}
}
