/*Atlantic Coast Brands Test SASS-CSS*/
/* webfonts */
#mfPreviewBar { display: none !important;}
/*hides myfonts.com preview bar for the test*/
/*
font-family: 'Bodoni Book';
font-family: 'Bodoni Bold';
font-family: 'Bodoni';
font-family: 'MyriadProSemibold';
font-family: 'MyriadProLight';
font-family: 'MyriadProRegular';
font-family: 'Bodoni Condensed'; (ttf only)
font-family: 'PT Sans Narrow', sans-serif;
*/
@font-face {
  font-family: 'MyriadProSemibold';
  src: url('/fonts/myriadpro-semibold_opentype-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/myriadpro-semibold_opentype-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/myriadpro-semibold_opentype-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/myriadpro-semibold_opentype-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/myriadpro-semibold_opentype-webfont.svg#MyriadProSemibold') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'MyriadProLight';
  src: url('/fonts/myriadpro-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/myriadpro-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/myriadpro-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/myriadpro-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/myriadpro-light-webfont.svg#MyriadProLight') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'MyriadProRegular';
  src: url('/fonts/myriadpro-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/myriadpro-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/myriadpro-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/myriadpro-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/myriadpro-regular-webfont.svg#webfontOtLQ4vAf') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Bodoni Condensed';
	src: url('/fonts/BOD_CR.ttf') format('truetype');
	/* Test Note: This is the only source file available, may not render in old IE or OperaMini */
}

/* Variables */
$colorWhite: #fff;
$colorBlack: #000;
$mainColwidth: 1085px;

/* globals */
.checkmark {
	display: inline-block;
	background: url('/images/icon-checkmark.png') no-repeat left top;
	height: 23px;
	width: 21px;
}


/* Structure */


.wrapper {
	width: 100%;
	overflow: hidden;
}
.mainColumn {
	overflow: hidden;
	margin: 0 auto;
}
.topMesg {
    height: 29px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    margin: 0 auto;
    background: #212121;
    border-bottom: 1px solid #3a3a3a;
    color: #fff;
    z-index: 100;
    position: absolute;
    margin: 0 auto;
    width: 100%;

	.contPdg {
		width: $mainColwidth;
		margin: 0 auto;
		line-height: 29px;
		text-align: center;
	}
	h2 {
		margin: 0;
		font-weight: normal;
		font-family: arial,helvatica,sans-serif;
		font-size: 14px;
		letter-spacing: .5px;

		strong {
			font-weight: bold;
		}
	}
	.warn_yellow { color: #fff348; }
	.warn_red { color: #d10000; }
}

h1 {
	color: $colorBlack;
	font-family: 'MyriadProRegular',serif;
}

.section {

	position: relative;

	.contPdg {

		.col {
			position: relative;
		}
	}
	.cols2 {
		float: left;
	    width: 765px;
	    margin-top: 30px;
	    height: 1200px;

		&.col2 {
			width: 320px;
		}
	}
	.cols3 {
		min-height: 200px;
		float: left;
		width: 33%;

		&.capStone {
			float: none;
			width: 100%;
		}
	}
}
.section1 {
	min-height: 615px;
	width: $mainColwidth;
	margin: 0 auto;
	position: relative;

		.contPdg {
			width: $mainColwidth;
			margin: 0 auto;
			border-left: 1px solid #222;
			border-right: 1px solid #222;	
		}
		.topBottle {
			margin-top: 15px;

			.bottle {
			    display: block;
			    height: 170px;
			    width: 262px;
			    margin: 0 auto;
			    z-index: 5;

			}
			.flare {
			    display: inline-block;
			    display: none;
			    height: 252px;
			    width: 252px;
			    z-index: 6;
			    position: absolute;
			    top: -59px;
			    right: -85px;
			    background: url('/images/bottle_flare_1.png') no-repeat left top;
			}
		}
		.logos_rightColbot {
			position: absolute;
			top: 950px;
			z-index: 5;
			left: 36px;
		}
		.formCapture {
		    position: absolute;
		    top: 194px;
		    right: -34px;
		    z-index: 5;

			.formContainer {
				display: inline-block;
				position: relative;
				width: 424px;
				height: 750px;
				background: url('/images/bg_rushTrial_form.png') no-repeat left top;

				#captureForm {
					width: 282px;
    				margin: 164px 0 8px 108px;

    				.text-input {
    					width: 280px;
    					height: 35px;
    					line-height: 35px;
    					margin: 0 0 8px;
    					padding: 0;
    					background: #fff;
    					border: 1px solid #000;
    					border-radius: 4px;
    					text-indent: 10px;
    					font-family: arial,sans-serif;
    					font-size: 12px;
    					color: #525252;

						&.city { width: 128px; }
						&.state { width: 92px; }
						&.zip { width: 47px; }    
    				}

				}
				.shipDate {
					font-family: arial,sans-serif;
				    font-size: 15px;
				    color: #fff;
				    display: block;
				    position: absolute;
				    top: 128px;
				    right: 47px;
				}
				.legalease {
				    float: right;
    				margin-right: 59px;
    				line-height: 18px;
					font-family: arial,sans-serif;
					font-size: 12px;
					padding-left: 20px;
					background: url('/images/icon-form-lock.png') no-repeat left;
					color: #fff;
				}
				#arrowSide {
					position: absolute;
				    bottom: 151px;
				    right: -90px;
					background: url('/images/arrow_side_big.png') no-repeat left top;
					height: 0;
					width: 136px;
					padding-top: 187px;
					overflow: hidden;
				}
				#cta_button {
					float: right;
    				margin: 16px 29px 0 0;

					.thebutton {

					}
				}
			}

		}

		#photoMain {
			float: left;
			height: 666px;
			width: 361px;
			margin-left: 10px;

			&:after {
			    content: 'Christie Brinkley, Age 61 - Supermodel, Actress, Author';
			    display: block;
			    color: #666;
			    font-family: 'PT Sans Narrow', sans-serif;
			    font-size: 15px;
			    margin-top: -5px;
			    text-align: center;
			}

		}
		#arrowMainCenter {
			width: 786px;
		    height: 109px;
		    margin-top: 32px;
		    overflow: hidden;
		    position: absolute;
		    top: 668px;
		    left: -7px;
		    z-index: 6;
		}
}
.bgMain {
    position: absolute;
    top: 2px;
    left: -607px;
}
.socialIconsLeft {
    position: absolute;
    left: -442px;
    top: 51px;
}
.socialIconsRight {
	position: absolute;
    right: -560px;
    top: 47px;
}
.section2 {
	min-height: 940px;
    background: url("/images/bg_section2_top.png") no-repeat center -14px;

		.contPdg {
			width: $mainColwidth;
			margin: 0 auto;

			.col {
				position: absolute;
				bottom: 26px;
				width: 1050px;
				padding-left: 25px;

				.col3 {
					.logo {
						height: 0;
						width: 133px;
						padding-top: 67px;
						background: url('/images/logo_ender_gma.png') no-repeat left top;
					}
				}
				.col2 {
					.logo {
						width: 138px;
						height: 0;
						padding-top: 78px;
						background: url('/images/logo_ender_vieira.png') no-repeat left top;
					}
				}
				.col1 {
					.logo {
						width: 118px;
						height: 0;
						padding-top: 78px;
						background: url('/images/logo_ender_view.png') no-repeat left top;
					}
				}		

			}/* end col */
			.logo {
				display: block;
				overflow: hidden;
				margin: 0 auto;
			}
			.text {
				display: inline-block;
				padding: 10px 12px 0;
				font-family: 'Bodoni',serif;
				font-size: 28px;
				text-align: center;
				letter-spacing: -.5px;
			}

		}/* end contPdg */
}/* end section 2 */

.blurb {
	text-align: center;
	letter-spacing: -1px;

	.sup {
    	font-size: 16px;
    	vertical-align: super;
    }

	&.mainPromo {
	    margin: 18px 0 0 0;
	    font-family: 'Bodoni Condensed','Bodoni Book','Bodoni',serif;
	    font-weight: normal;
	    font-size: 67px;
	    line-height: 59px;
	    position: absolute;
	    width: 440px;
	    right: -12px;
	}
	&.secondHdr {
	    position: absolute;
	    width: 392px;
	    right: 3px;
	    margin: 22px 0 0 0;
	    top: 205px;
	    font-family: 'Bodoni Condensed','Bodoni Book','Bodoni',serif;
	    font-weight: normal;
	    font-size: 49px;
	    line-height: 50px;
	    letter-spacing: -1px;
	}
	&.signature {
	    position: absolute;
	    width: 395px;
	    right: 0;
	    margin: 14px 0 0 0;
	    top: 608px;
	    font-family: 'Bodoni',serif;
	    font-style: italic;
	    font-weight: normal;
	    font-size: 28px;
	    line-height: 30px;
	    text-align: left;

		.sig {
		    display: inline-block;
		    overflow: hidden;
		    width: 189px;
		    height: 0;
		    padding-top: 39px;
		    background: url("/images/bg_christie_sig.png") no-repeat left top;
		    margin: 0 0 -13px 6px;
		}
	}
	&.lastHdr {
		display: inline-block;
		margin: 0;
		padding: 0;
	    font-family: 'Bodoni',serif;
	    font-weight: normal;
	    font-size: 62px;
	    line-height: 70px;
	    letter-spacing: -2px;

	    .sup { font-size: 30px; }
	}
}
.iconsMiddle {
    height: 0;
    width: 415px;
    overflow: hidden;
    background: url('/images/bg_section1_col2_socialicons.png');
    margin-right: -21px;
    padding-top: 98px;
    position: absolute;
    top: 135px;
    right: 21px;
}
.featureList {
    overflow: hidden;
    position: absolute;
    top: 330px;
    right: 5px;
    margin: 14px 0 0 0;
    padding: 0;
    list-style: none;
    letter-spacing: 1px;
}
.featureItem {
	font-family:'MyriadProLight','MyriadProRegular',sans-serif;
	font-size: 24px;
	line-height: 40px;
	color: $colorBlack;
	list-style: none;

	.checkmark {
		float: left;
		margin: 3px 5px 0 24px;
	}
}
.beforeAfter {
	height: 0;
    padding-top: 132px;
    width: 379px;
    margin-top: 28px;
    position: absolute;
    top: 445px;
    right: 15px;
    background: url("/images/bg_beforeafter_pic.png") no-repeat left top;

	&:after {
	    content: 'Susan, NY';
	    display: block;
	    text-align: right;
	    color: #000;
	    font-size: 14px;
	    font-family: "MyriadProLight";
	    margin-top: -3px;
	    margin-right: 22px;
	}
}
#redCarpetBlock {
    position: absolute;
    top: 807px;
    left: -39px;
    z-index: 4;
    -webkit-box-shadow: 6px 34px 54px -42px rgba(88,94,75,0.96);
    -moz-box-shadow: 6px 34px 54px -42px rgba(88,94,75,0.96);
    box-shadow: 6px 34px 54px -42px rgba(88,94,75,0.96);
}
.redCarpet {
	width: 760px;

	.redCarpetPics {
		float: left;
		display: inline-block;
		overflow: hidden;
		width: 416px;
		height: 274px;
		margin-bottom: -29px;
		background: url('/images/redcarpet_pic.png');
	}
	
	ul {
		overflow: hidden;
	    margin: 49px 0 0 -10px;
	    padding: 0;
	    list-style: none;
	    float: right;
	    width: 352px;

		li {
			overflow: hidden;
			clear: both;
			font-family: 'MyriadProLight', sans-serif;
			font-size: 17px;

			strong {
				font-family: 'MyriadProRegular', sans-serif;
			}
			.sub {
				font-size: 11px;
			}
		}

		.elle {
			margin-bottom: 23px;

			.logo {
				float: left;
				display: inline-block;
				width: 25%;
				height: 0;
				margin: 4px 0 0 0;
				padding-top: 30px;
				overflow: hidden;
				background: url('/images/logo_redcarpet_elle.png') no-repeat left top;
			}
			.rcSlug {
			    overflow: hidden;
			    display: inline-block;
			    float: left;
			    width: 75%;
			}
		}
		.us {
			margin-bottom: 20px;

			.logo {
				float: left;
				display: inline-block;
				width: 25%;
				height: 0;
				padding-top: 57px;
				overflow: hidden;
				background: url("/images/logo_redcarpet_us.png") no-repeat left top;
			}
			.rcSlug {
			    overflow: hidden;
			    display: inline-block;
			    float: left;
			    width: 75%;
			}
		}
		.instyle {
			.logo {
				float: left;
				display: inline-block;
				width: 25%;
				height: 0;
				padding-top: 23px;
				overflow: hidden;
				background: url('/images/logo_redcarpet_instyle.png') no-repeat left top;
			}
			.rcSlug {
			    overflow: hidden;
			    display: inline-block;
			    float: left;
			    width: 75%;
			}
		}
	}
}