/*Atlantic Coast Brands Test SASS-CSS*/
/* webfonts */
#mfPreviewBar {
  display: none !important;
}

/*hides myfonts.com preview bar for the test*/
/*
font-family: 'Bodoni Book';
font-family: 'Bodoni Bold';
font-family: 'Bodoni';
font-family:'MyriadProSemibold';
font-family:'MyriadProLight';
font-family:'MyriadProRegular';
*/
@font-face {
  font-family: 'MyriadProSemibold';
  src: url("/fonts/myriadpro-semibold_opentype-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/myriadpro-semibold_opentype-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/myriadpro-semibold_opentype-webfont.woff") format("woff"), url("/fonts/myriadpro-semibold_opentype-webfont.ttf") format("truetype"), url("/fonts/myriadpro-semibold_opentype-webfont.svg#MyriadProSemibold") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: 'MyriadProLight';
  src: url("/fonts/myriadpro-light-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/myriadpro-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/myriadpro-light-webfont.woff") format("woff"), url("/fonts/myriadpro-light-webfont.ttf") format("truetype"), url("/fonts/myriadpro-light-webfont.svg#MyriadProLight") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: 'MyriadProRegular';
  src: url("/fonts/myriadpro-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/myriadpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/myriadpro-regular-webfont.woff") format("woff"), url("/fonts/myriadpro-regular-webfont.ttf") format("truetype"), url("/fonts/myriadpro-regular-webfont.svg#webfontOtLQ4vAf") format("svg");
  /* Legacy iOS */
}
/* Variables */
/* globals */
/* Structure */
html {
  background: #fff url("/images/bg_main_top_icons.png") no-repeat top center;
}
html .wrapper {
  width: 100%;
}
html .topMesg {
  height: 29px;
  overflow: hidden;
  background: #212121;
  border-bottom: 1px solid #3a3a3a;
  color: #fff;
}
html .topMesg .contPdg {
  width: 1085px;
  margin: 0 auto;
  line-height: 29px;
  text-align: center;
}
html .topMesg h2 {
  margin: 0;
  font-weight: normal;
  font-family: arial,helvatica,sans-serif;
  font-size: 14px;
}
html .topMesg h2 strong {
  font-weight: bold;
}
html .topMesg .warn_yellow {
  color: #fff348;
}
html .topMesg .warn_red {
  color: #d10000;
}
html h1 {
  color: #000;
  font-family: 'MyriadProRegular',serif;
}

.section .contPdg .col {
  position: relative;
}
.section .cols2 {
  min-height: 200px;
  float: left;
  width: 770px;
}
.section .cols2.col2 {
  width: 315px;
}
.section .cols3 {
  min-height: 200px;
  float: left;
  width: 33%;
}
.section .cols3.capStone {
  float: none;
  width: 100%;
}

.section1 {
  min-height: 516px;
}
.section1 .contPdg {
  width: 1085px;
  margin: 0 auto;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
}
.section1 #photoMain {
  float: left;
  margin-left: -15px;
}

.section2 {
  min-height: 900px;
  background: url("/images/bg_section2_top.png") no-repeat top center;
}
.section2 .contPdg {
  width: 1085px;
  margin: 0 auto;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
}

#photoMain {
  float: left;
}

.blurb.mainPromo {
  font-family: 'Bodoni Book';
  font-size: 38px;
  line-height: 39px;
  margin: 0;
  text-align: center;
}

/*# sourceMappingURL=acbTest.css.map */
