/*Atlantic Coast Brands Test SASS-CSS*/
/* webfonts */
#mfPreviewBar {
  display: none !important;
}

/*hides myfonts.com preview bar for the test*/
/*
font-family: 'Bodoni Book';
font-family: 'Bodoni Bold';
font-family: 'Bodoni';
font-family:'MyriadProSemibold';
font-family:'MyriadProLight';
font-family:'MyriadProRegular';
font-family: 'Bodoni Condensed'; (ttf only)
*/
@font-face {
  font-family: 'MyriadProSemibold';
  src: url("/fonts/myriadpro-semibold_opentype-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/myriadpro-semibold_opentype-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/myriadpro-semibold_opentype-webfont.woff") format("woff"), url("/fonts/myriadpro-semibold_opentype-webfont.ttf") format("truetype"), url("/fonts/myriadpro-semibold_opentype-webfont.svg#MyriadProSemibold") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: 'MyriadProLight';
  src: url("/fonts/myriadpro-light-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/myriadpro-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/myriadpro-light-webfont.woff") format("woff"), url("/fonts/myriadpro-light-webfont.ttf") format("truetype"), url("/fonts/myriadpro-light-webfont.svg#MyriadProLight") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: 'MyriadProRegular';
  src: url("/fonts/myriadpro-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/myriadpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/myriadpro-regular-webfont.woff") format("woff"), url("/fonts/myriadpro-regular-webfont.ttf") format("truetype"), url("/fonts/myriadpro-regular-webfont.svg#webfontOtLQ4vAf") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: 'Bodoni Condensed';
  src: url("/fonts/BOD_CR.ttf") format("truetype");
  /* Test Note: This is the only source file available, may not render in old IE or OperaMini */
}
/* Variables */
/* globals */
/* Structure */
.wrapper {
  width: 100%;
  overflow: hidden;
}

.mainColumn {
  overflow: hidden;
  margin: 0 auto;
}

.topMesg {
  height: 29px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  margin: 0 auto;
  background: #212121;
  border-bottom: 1px solid #3a3a3a;
  color: #fff;
  z-index: 100;
  position: absolute;
  margin: 0 auto;
  width: 100%;
}
.topMesg .contPdg {
  width: 1085px;
  margin: 0 auto;
  line-height: 29px;
  text-align: center;
}
.topMesg h2 {
  margin: 0;
  font-weight: normal;
  font-family: arial,helvatica,sans-serif;
  font-size: 14px;
  letter-spacing: .5px;
}
.topMesg h2 strong {
  font-weight: bold;
}
.topMesg .warn_yellow {
  color: #fff348;
}
.topMesg .warn_red {
  color: #d10000;
}

h1 {
  color: #000;
  font-family: 'MyriadProRegular',serif;
}

.section {
  position: relative;
}
.section .contPdg .col {
  position: relative;
}
.section .cols2 {
  min-height: 200px;
  float: left;
  width: 770px;
  margin-top: 30px;
}
.section .cols2.col2 {
  width: 315px;
}
.section .cols3 {
  min-height: 200px;
  float: left;
  width: 33%;
}
.section .cols3.capStone {
  float: none;
  width: 100%;
}

.section1 {
  min-height: 516px;
  width: 1085px;
  margin: 0 auto;
  position: relative;
}
.section1 .contPdg {
  width: 1085px;
  margin: 0 auto;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
}
.section1 #photoMain {
  float: left;
}

.bgMain {
  position: absolute;
  top: 2px;
  left: -607px;
}

.socialIconsLeft {
  position: absolute;
  left: -442px;
  top: 47px;
}

.socialIconsRight {
  position: absolute;
  right: -560px;
  top: 47px;
}

.section2 {
  min-height: 1200px;
  background: url("/images/bg_section2_top.png") no-repeat center 184px;
}
.section2 .contPdg {
  width: 1085px;
  margin: 0 auto;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
}

#photoMain {
  float: left;
  margin-left: 10px;
}

.blurb.mainPromo {
  margin: 15px 0 0 0;
  font-family: 'Bodoni Condensed',sans-serif;
  font-weight: normal;
  font-size: 67px;
  line-height: 59px;
  text-align: center;
  letter-spacing: -1px;
  position: absolute;
  width: 440px;
  height: 180px;
  right: -12px;
}

/*# sourceMappingURL=acbTest.css.map */
